<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>A_ViewModuleController</string>
		<key>Type</key>
		<integer>1</integer>
		<key>MacroName</key>
		<string>keyModuleClassA</string>
		<key>shortName</key>
		<string>A界面</string>
		<key>Desc</key>
		<string>测试类A</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>B_ViewModuleController</string>
		<key>Type</key>
		<integer>1</integer>
		<key>MacroName</key>
		<string>keyModuleClassB</string>
		<key>shortName</key>
		<string>B界面</string>
		<key>Desc</key>
		<string>测试类B</string>
		<key>params</key>
		<array>
			<dict>
				<key>Name</key>
				<string>content</string>
				<key>MacroName</key>
				<string>keyParamsClassB_Content</string>
				<key>Desc</key>
				<string>内容传递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>C_ViewModuleController</string>
		<key>Type</key>
		<integer>1</integer>
		<key>MacroName</key>
		<string>keyModuleClassC</string>
		<key>shortName</key>
		<string>C界面</string>
		<key>Desc</key>
		<string>测试类C</string>
		<key>return</key>
		<dict>
			<key>CModuleDelegate</key>
			<string>协议</string>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>D_ViewModuleController</string>
		<key>Type</key>
		<integer>1</integer>
		<key>MacroName</key>
		<string>keyModuleClassD</string>
		<key>shortName</key>
		<string>D界面</string>
		<key>Desc</key>
		<string>测试类D</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>E_ModuleMgr</string>
		<key>Type</key>
		<integer>1</integer>
		<key>MacroName</key>
		<string>keyModuleClassE</string>
		<key>shortName</key>
		<string>E界面</string>
		<key>Desc</key>
		<string>一个管理类</string>
	</dict>
</array>
</plist>
